@CHARSET "UTF-8";

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select { margin:0; padding:0 }
body, input, textarea, select, button, table {font-size:14px;font-family: "Nanum Gothic", "나눔고딕", "NanumGothic", "나눔 고딕";color:#404850 }
article, aside, hgroup, header, footer, figure, figcaption, nav, section { display:block }
img, fieldset { border:0 }
img { vertical-align: middle }
ul, ol { list-style: none }
em, address { font-style: normal }
a { text-decoration : none; color: #000 }
a:hover, a:active, a:focus { text-decoration : none }
caption { height: 0; line-height: 0; font-size: 0 }
input,textarea { padding:0 3px;border: 1px solid #d7d7d7 }
input[type="radio"],input[type="checkbox"]{padding:0;border:none}
textarea {overflow-y:auto; resize: none }
select{border:1px solid #d7d7d7}
